<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suites" parallel="classes" thread-count="1" configfailurepolicy="continue">
<parameter name="browser" value="edge"/>
<parameter name="Backend_Server" value="http://jitendra-chaudhary-back-k8s.int.dev.mykronos.com:80"/>
<parameter name="Frontend_Server" value="http://jitendra-chaudhary-k8s.int.dev.mykronos.com/"/>
<parameter name="OpenAM_Server" value="http://keng03-dev01-ath20-oam.int.dev.mykronos.com:80"/>
<parameter name="Tenant" value="manufacturing"/>
<parameter name="Report_Loc" value="C:\\Reports\\" />
<parameter name="Log_Loc" value="C:\\Reports\\log" />
<parameter name="logInfoLevel" value="true"/>
<parameter name="ALM_TEST_SET_ID" value="26263"/>
<parameter name="PUBLISH_RESULTS_TO_ALM" value="false"/>
<parameter name="dateFormat" value="MM/dd/yyyy"/>
<parameter name="deepReporting" value="true"/>
<parameter name="RUN_K8S" value="true"/>
<parameter name="cluster_name" value="platform"/>
<parameter name="checkEnv" value="true"/>
<parameter name="cluster_project" value="gcp-keng01"/>
<parameter name="timeout" value="60"/>
<listeners>
	<listener class-name="com.kronos.listener.TestRetryListener"/>
</listeners>
<test name="Tests">
	<groups>
	<run>
		<include name="bothFlows"/>
		<exclude name="WIP"/>
	</run>
	</groups>
	<packages>
		<package name="com.kronos*"/>
	</packages>
</test>
</suite>
